{% extends "base.html" %}
{% block content %}
	<section id="content">
		<ol>
			<li><article class="entry">
				<h2>Welcome!</h2>
				<p>Area 53 is the Robotics team located at Eleanor
					Roosevelt High School in Greenbelt, MD.  The Cow
					Abductors consists of approximately 50 students who 
					work together to develop, design, and ultimately create
					innovative solutions to a variety of problems.  We strive
					to encourage creativity and teach real-world skills to
					our students.</p>
			</article></li>
			<li><article class="entry">
				<h2>Competition</h2>
				<p>Our team primarily consists of major subteams: Programming and
				   Mechanical.  Under each subteams there are other mini teams.
				<ul>
					<li class="list-topic">Programming</li>
					<li>Software</li>
					<li>Electrical and ControlSystems</li>
					<li>Website Design and Maintenance</li>
				</ul>
				</p>
			</article></li>
			<li><article class="entry">
				<h2>Current Projects</h2>
				<p></p>
			</article></li>
		</ol><!-- /#posts-list -->
	</section><!-- /#content -->
{% endblock %}
