{% extends "base.html" %}
{% block content %}
		<section id="admin-login" class="body">
		<h1>Create User</h1>
		<form method="post">
		<table>
			<tr>
			  <td class="label">
				Username
			  </td>
			  <td>
				<input type="text" name="username" value="{{name}}">
			  </td>
			  <td>
				{{username}}
			  </td>
			</tr>

			<tr>
			  <td class="label">
				Password
			  </td>
			  <td>
				<input type="password" name="password" value="">
			  </td>
			  <td>
				{{password}}
			  </td>
			</tr>

			<tr>
			  <td class="label">
				Verify Password
			  </td>
			  <td>
				<input type="password" name="verify" value="">
			  </td>
			  <td>
				{{verify}}
			  </td>
			</tr>

			<tr>
			  <td class="label">
				Email (optional)
			  </td>
			  <td>
				<input type="text" name="email" value="{{mail}}">
			  </td>
			  <td>
				{{email}}
			  </td>
			</tr>
		</table>

		<input type="submit">
		</form>
	
	</section><!-- /#content -->
{% endblock %}			
