{% extends "base.html" %}
{% block head %}
	{{super()}}
	<script type="text/javascript">
		function confirmDel(id) {
			if(window.confirm("Are you sure you want to delete this post?")) {
				document.forms["deletepost"+id].submit();			
			}			
		}
	</script>
{% endblock %}
{% block content %}
	{% if user %}
	<section id="new-post">
		<form action="/newpost" method="GET">
			<button class="button" id="submit">New Post</button>
		</form>
	</section>
	{% endif %}
	<section id="blog">
			{% for post in posts%}
				<div id="blog-entry">
					{% if user %}
					{% if user.key().id() == post.user or user.isadmin%}
						<form method="POST" action="/deletepost" id="deletepost{{post.key().id()}}">
							<input type="hidden" name="post" value="{{post.key().id()}}">
							<a class="remove-button" href="#" onclick="confirmDel({{post.key().id()}})"></a>				
						</form>
						<a class="edit-button" href="/editpost/{{post.key().id()}}"></a>
					{% endif %}
					{% endif %}
					<h2>{{post.subject}}</h2>
					<h3>Created by: {{post.username}}</h3>
					<h3>Date: {{post.created}}</h3>
					<hr>
					<p>{{post.content}}</p>
				</div>
			{% endfor %}
	</section>
{% endblock %}
