{% extends "base.html" %}
{% block content %}
	<section id="content">
		<form method="POST" enctype="multipart/form-data">
			<table border=1>
				<tbody>
					<tr>
						<td rowspan="2" style="width:150px; height:150px;">
							{% if profile.userimage %}
							<img style="max-width: 100%; max-height: 100%;" id="profile-pic" src="/image?id={{profile.key()}}">
							{% else %}
							<img style="max-width: 100%; max-height: 100%;" id="profile-pic" src="/images/alien-head.jpg">		
							{% endif %}
							<br>
							<input type="file" name="image">							
						</td>
						<td>
							<div id="profile-name">{{profile.username}}</div>
						</td>					
					</tr>						
					<tr>
						<td>
						Quote:<br>
						<textarea name="quote" rows="5" cols="50">{% if profile.quote %}{{profile.quote}}{% endif %}</textarea>
						</td>								
					</tr>						
					
					<tr>
						<td>
						Team:
						</td>
						<td>
						<select name="team">
							<option value="Programming" {{prog}}>Programming</option>
							<option value="Mechanical" {{mec}}>Mechanical</option>
							<option value="Outreach" {{out}}>Outreach</option>
							<option value="Management" {{mang}}>Managment</option>
						</select>
						</td>
					</tr>
					
					
					<tr>
						<td>
						Current project(s):
						</td>
						<td>
						<input type="text" style="width:99%;" name="currentProjects" value="{{currentProjects}}">
						</td>
					</tr>
					<tr>
						<td>								
						Past projects:
						</td>
						<td>
						<textarea name="pastProjects" rows="6" cols="60">{{pastProjects}}</textarea>
						</td>
					</tr>
					<tr>
						<td>
						Email:
						</td>
						<td>
						<input type="text" style="width=99%;" name="email" value="{% if profile.email %}{{profile.email}}{% endif %}">
						</td>
					</tr>
								
				</tbody>
			</table>
			<input type="submit" value="Save Profile">
		</form>
	</section>
{% endblock %}		
