{% extends "base.html" %}
{% block content %}
	<section id="content">
		{% if user and profile.key().id() == user.key().id() %}
		<a class="edit-button" href="/editprofile/{{profile.username}}" title="edit"></a>
		{% endif %}
		<table border=1>		
			<tbody>
				<tr>
					<td rowspan="2">
						{% if profile.userimage %}
						<img id="profile-pic" src="/image?id={{profile.key()}}">
						{% else %}
						<img id="profile-pic" src="/images/alien-head.jpg">		
						{% endif %}
					
					</td>
					<td>
						<div id="profile-name">{{profile.username}}</div>
					</td>					
				</tr>
				{% if profile.quote %}
				<tr>
					<td>
					{{profile.quote}}
					</td>
				</tr>
				{% endif %}
				{% if profile.team %}
				<tr>
					<td colspan="2">
					Team: {{ profile.team }}
					</td>
				</tr>
				{% endif %}
				{% if profile.currentProjects %}
				<tr>
					<td colspan="2">
					Current project(s): {{profile.currentProjects[0]}}
					{% for project in profile.currentProjects[1:] %}
					, {{project}}
					{% endfor %}
					</td>
				</tr>
				{% endif %}
				{% if profile.pastProjects %}
				<tr>
					<td colspan="2">
					Past projects: {{profile.pastProjects[0]}}
					{% for project in profile.pastProjects[1:] %}
					, {{project}}
					{% endfor %}
					</td>
				</tr>
				{% endif %}	
				{% if user and profile.email %}
				<tr>
					<td colspan="2">
					Email: {{profile.email}}
					</td>							
				</tr>
				{% endif %}		
			</tbody>
		</table>
	</section>
{% endblock %}
